﻿@using System.Web.Optimization
@using Bootstrap31.Helpers
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Brainobrain</title>

    @Styles.Render("~/css")
</head>
<body>
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="~/Content/images/logo.png">
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.MenuLink("<span class='glyphicon glyphicon-home' aria-hidden='true'></span>", "Index", "Home")</li>
                    <li>@Html.MenuLink("За нас", "About", "Home")</li>
                    <li>@Html.MenuLink("Програма", "Program", "Home")</li>
                    @*<li>@Html.MenuLink("Галерија", "Gallery", "Home")</li>*@
                    <li>@Html.MenuLink("Новости", "News", "Home")</li>
                    <li>@Html.MenuLink("Прашања", "Questions", "Home")</li>
                    <li>@Html.MenuLink("Контакт", "Contact", "Home")</li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
    @RenderSection("Carousel", false)
    <div class="container body">
        <noscript>
            <div class="alert">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Warning!</strong> Please enable JavaScript in your browser!
            </div>
        </noscript>

        <div class="row">
            @if (IsSectionDefined("sidebar"))
            {
                <div class="span2">
                    @RenderSection("sidebar", required: false)
                </div>
            }

            <div id="content" @(IsSectionDefined("sidebar") ? Html.Raw("class=span10") : Html.Raw("class=span12"))>
                @if (IsSectionDefined("featured"))
                {
                    <div>
                        <div class="hero-unit">
                            @RenderSection("featured", required: false)
                        </div>
                    </div>
                }
                <div>
                    @RenderBody()
                </div>
            </div>
        </div>     
    </div>
    <div class="container">
        <div class="row">
                <footer id="footer">
                    All rights reserved &copy; 2013 Brainobrain Aerodrom, Macedonia
                </footer>
        </div>
    </div>
    @Scripts.Render("~/js")
    @RenderSection("scripts", required: false)
</body>
</html>
