﻿@{
    ViewBag.Title = "Контакт";
}

<h3>Контакт</h3>
<hr />
<div class="row">
    <div class="col col-md-6 col-xs-12 col-sm-10 col-lg-6">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="input_email" class="text-info col-sm-6 col-md-4 col-lg-4 control-label">Email</label>
                <div class="col-sm-6 col-md-8 col-lg-8">
                    <input type="text" class="form-control" id="input_email" placeholder="email">
                </div>
            </div>
            <div class="form-group">
                <label for="input_name" class="text-info col-sm-6 col-md-4 col-lg-4 control-label">Име и Презиме</label>
                <div class="col-sm-6 col-md-8 col-lg-8">
                    <input type="text" class="form-control" id="input_name" placeholder="име и презиме">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <textarea class="form-control" id="input_poraka" rows="5"></textarea>
                </div>
            </div>
            <div class="form-group">
                
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <button type="submit" class="btn btn-primary">Испрати</button>
                </div>
            </div>
        </form>
    </div>
</div>


