/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
.container {
    margin-left:2%;
    margin-right:2%;
}
body {
    padding-bottom: 40px;
    padding-top: 100px;
    color: #5a5a5a;
}
@media screen and (max-width: 768px) {
    body { padding-top: 100px; }
}
footer {
    text-align:center;
    width:100%;
    padding-top:10px;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
/*.navbar-wrapper {
    position: relative;
    z-index: 15;
}*/


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    margin-bottom: 60px;
    /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
    margin-top: -90px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
    background-color: rgba(136, 136, 136, 0.45);
    -ms-border-radius: 12px;
    border-radius: 12px;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 500px;
    background-color: transparent;
}

.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    -moz-min-width: 100%;
    -ms-min-width: 100%;
    -o-min-width: 100%;
    -webkit-min-width: 100%;
    min-width: 100%;
    height: 500px;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
    padding-left: 15px;
    padding-right: 15px;
}

    /* Center align the text within the three columns below the carousel */
    .marketing .col-lg-4 {
        text-align: center;
        margin-bottom: 20px;
    }

    .marketing h2 {
        font-weight: normal;
    }

    .marketing .col-lg-4 p {
        margin-left: 10px;
        margin-right: 10px;
    }


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

    /* Remove the edge padding needed for mobile */
    .marketing {
        padding-left: 0;
        padding-right: 0;
    }

    /* Navbar positioning foo */
    .navbar-wrapper {
        margin-top: 20px;
    }
        /*The navbar becomes detached from the top, so we round the corners*/ 
        .navbar-wrapper .navbar {
            -ms-border-radius: 4px;
            border-radius: 4px;
        }

    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 992px) {
    .featurette-heading {
        margin-top: 120px;
    }
}
